$container-max-width: 940px;
$color-deep-dark-blue: #03181e;
$color-light-blue: #49aec4;
$color-blue: #39699c;
$color-purple: #565e7a;
$color-light-purple: #8d94b2;
$color-white: #fff;
$color-light-grey: #e3e3e3;
$lead-title-font: 64px;