@import "base/variables";
@import "base/fonts";
@import "base/mixins";
@import "base/media-queries";

body {
  //display: flex; //ie fix
  //overflow-x: hidden;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  border-top: 21px solid $color-deep-dark-blue;
  background: url('../images/bg-data-center.png') no-repeat center;
  background-size: cover;

  .top-container {
    border-top: 1px solid $color-white;
    margin-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
  }

  h2 {
    @include font-source-myriad(26px, $color-white, 'Light');
    text-align: center;
    padding: 30px 0;
    background: rgba($color-deep-dark-blue, 0.7);
    box-shadow: inset 0 10px 10px 0 rgba($color-deep-dark-blue, 0.75);
  }
}

.inner-container {
  max-width: $container-max-width;
  @include tablet{
    max-width: 100%;
  }
}

.main-menu-wrapper {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.7);

  @include tablet{
    width: 0;
    box-shadow: none;
    position: relative;
    right: -100%;
    top:0;
    transition: right 0.5s ease-out;
    height: 0;

    &.show{
      right: 0;
      width: 100%;
      height: auto;
    }
  }
}

.logo {
  padding-top: 10px;
  @include tablet{
    display: none;
  }
}

.main-menu {
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: stretch;

  @include tablet{
    display: block;
  }

  .main-menu-item {
    flex-grow: 1;
    text-align: center;
    padding-top: 42px;
    @include font-source-myriad;

    @include tablet{
      display: block;
      padding: 20px 0;
      font-family: sans-serif;
      font-size: 34px;
    }

    &.active {
      background: rgba($color-deep-dark-blue, 0.7);
      box-shadow: inset 4px 4px 5px 0 rgba(0, 0, 0, 1);
      font-weight: bold;
      span {
        background: url("../images/custom-menu-item-underscore.png") bottom center no-repeat;
        padding: 15px;
      }
      @include tablet{
        box-shadow: none;
        background: none;
        span{
          background: none;
          border-bottom: 2px solid $color-white;
          border-top: 2px solid $color-white;
        }
      }
    }
  }
}
.wide-cards {
  padding-top: 30px;
  .card {
    @include card(116px, 38px, -33px, 30px);

    .card-header {
      @include font-source-myriad(38px, $color-white, 'Bold');
      h3 :last-child {
        @include font-source-myriad(24px);
      }
    }
    & > img {
      position: absolute;
      right: 30px;
      bottom: 5px;
    }
    &.bg-blue{
      background-color: $color-blue;
      &:after {
        border-color: transparent darken($color-blue, 10%) $color-white transparent;
      }
    }

    &.bg-light-blue{
      background-color: $color-light-blue;
      &:after {
        border-color: transparent darken($color-light-blue, 10%) $color-white transparent;
      }
    }
    p {
      @include font-source-myriad(14px, $color-white, 'Italic');
    }
  }
}
footer {
  padding: 15px 0;
  background-color: $color-light-blue;

  div, a {
    @include font-source-myriad;
  }

  .social-icons a {
    font-size: 20px;
    margin: 0;
  }
}

.bg-geometric {
  background: url("../images/bg-services.png") no-repeat center;
  background-size: cover;
}
.multiline-header > span{
  display: block;
  line-height: 1;
}

.bg-light-blue{
  background-color: $color-light-blue;
}
.bg-blue{
  background-color: $color-blue;
}
.bg-purple{
  background-color: $color-purple;
}
.bg-light-purple{
  background-color: $color-light-purple;
}
.bg-light-grey{
  background-color: $color-light-grey;
}
.section-ribbon{
  @include section-with-ribbon;
}
.ribbon {
  @include ribbon(20px);
}
.ribbon.light-purple {
  @include ribbon(20px, $color-light-purple, $color-white);
}
.ribbon.light-blue {
  @include ribbon(20px, $color-light-blue, $color-white);
}
.ribbon.light-grey {
  @include ribbon(20px, $color-light-grey, $color-blue);
}

.text-center{
  text-align: center;
}